    <div class="information">
      <div id="introduce">
        <h2>
          地陪簡介：(*旅行者搜尋您時會立即看到您的簡介)
        </h2>
        <%= form_for(@user) do |f| %>
          <%= f.text_field :introduce, class: "form_text" %>
          <%= f.submit "確定更改", class: "btn" %>
        
      </div>
      <div id="trip_plan">
        <h2>
          旅行安排與建議：(*輸入您的行程安排，或是對旅行者的建議，此外若地陪服務需要收費記得在此填寫)
        </h2>
        <%= f.text_field :trip_plan, class: "form_text" %>
        <%= f.submit "確定更改", class: "btn" %>
        
      </div>
      
        <% end %>
        <script type="text/javascript">
          $('#user_introduce').wysihtml5({"font-styles": false});
          $('#user_trip_plan').wysihtml5();

        </script>
      </div>
      
    </div>