<% provide(:title, "Edit user") %> 
<h1>設定您的帳號</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      
      <%= f.label :name, "姓名" %>
      <%= f.text_field :name %>

      <%= f.label :email, "電子信箱(帳號名稱)" %>
      <%= f.text_field :email %>

      <%= f.label :area, "所在區域(台灣)" %>
      <%= f.select :area ,options_for_select([['北部','北部'],['中部','中部'],['南部','南部'],['東部','東部'],['離島','離島']]), {}, { :class => 'span3 controls controls-row' } %> 
      <%= f.select :city ,options_for_select([['台北','台北',{ :class => '北部' }],['台中','台中',{ :class => '中部' }],['台南','台南',{ :class => '南部' }],['高雄','高雄',{ :class => '南部' }],['基隆','基隆',{ :class => '北部' }],['新竹','新竹',{ :class => '北部' }],['嘉義','嘉義',{ :class => '南部' }],['桃園','桃園',{ :class => '北部' }],['苗栗','苗栗',{ :class => '北部' }],['彰化','彰化',{ :class => '中部' }],['南投','南投',{ :class => '中部' }],['雲林','雲林',{ :class => '中部' }],['屏東','屏東',{ :class => '南部' }],['宜蘭','宜蘭',{ :class => '北部' }],['花蓮','花蓮',{ :class => '東部' }],['台東','台東',{ :class => '東部' }],['澎湖','澎湖',{ :class => '離島' }],['金門','金門',{ :class => '離島' }],['連江','連江',{ :class => '離島' }]]), {}, { :class => 'span3 controls controls-row' }
      %>

      
      <%= f.label :password, "變更密碼(留空白表示不變更)" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "確認密碼" %>
      <%= f.password_field :password_confirmation %>

      <img src=<%if @user.profile_photo==""%><%= "http://goo.gl/gdibQ" %><%else %> <%= @user.profile_photo || "http://goo.gl/gdibQ" %><%end%> alt=<%= @user.name %> class="change_photo">
      <%= f.label :profile_photo, "更換大頭貼(網路圖片連結)" %>
      <h5>取得連結教學：1.找到想要的圖片→2.圖片上點選右鍵→3.「複製圖片連結」→4.貼在下方空格→5.完成！</h5>
      <%= f.text_field :profile_photo %>

      <%= f.submit "確定更改", class: "btn btn-large btn-primary" %>
    <% end %>
    <script type="text/javascript">

  $("#user_city").chained("#user_area");
</script>
  </div>
</div>