<% provide(:title, "Edit user") %> 
<h1>設定您的帳號</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      
      <%= f.label :name, "姓名" %>
      <%= f.text_field :name %>

      <%= f.label :email, "電子信箱(帳號名稱)" %>
      <%= f.text_field :email %>

      <%= f.label :country, "所在國家(區域)" %>
      <%= f.select :country ,options_for_select([['台灣(Taiwan)','台灣(Taiwan)'],['日本(Japan)','日本(Japan)'],['南韓(South Korea)','南韓(South Korea)'],['中國(China)','中國(China)'],['歐洲(Europe)','歐洲(Europe)'],['美洲(America)','美洲(America)'],['大洋洲(Oceania)','大洋洲(Oceania)'],['非洲(Africa)','非洲(Africa)'],['其他(Others)','其他(Others)']]) %>

      <%= f.label :city, "所在城市" %>
      <%= f.text_field :city %>

      <%= f.label :language, "語言" %>
      <%= f.text_field :language %>

      <%= f.label :password, "密碼" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "確認密碼" %>
      <%= f.password_field :password_confirmation %>

      <img src=<%if @user.profile_photo==""%><%= "http://goo.gl/gdibQ" %><%else %> <%= @user.profile_photo || "http://goo.gl/gdibQ" %><%end%> alt=<%= @user.name %> class="change_photo">
      <%= f.label :profile_photo, "更換大頭貼(網路圖片連結)" %>
      <h5>取得連結教學：1.找到想要的圖片→2.圖片上點選右鍵→3.「複製圖片連結」→4.貼在下方空格→5.完成！</h5>
      <%= f.text_field :profile_photo %>

      <%= f.submit "確定更改", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>