
<h1>地陪</h1>

<div class = "users">
  
  <% @users.each do |user| %>
	  <div id="<%= user.sex %>" class="grapper">
	  	<a class="div_button" href="users/<%= user.id %>">
	    <div class="users_photo">
	      <img src=<%if user.profile_photo==""%><%= "http://goo.gl/gdibQ" %><%else %> <%= user.profile_photo || "http://goo.gl/gdibQ" %><%end%> alt=<%= user.name %>>
	    </div>
	    <div class="basic_info" >
	      <h1>
	        <%= user.name %>
	      </h1>
	      <span id="<%= user.sex %>">
	        <%= user.sex %>
	      <span>
	      
	      <p id="<%= user.area %>, <%= user.city %>">
	        <b>我在台灣的</b> <%= user.area %> <b>→</b> <%= user.city %></p>

	      <p>
	        <b>地陪簡介:</b>
	        <%= raw user.introduce %>
	      </p>
	    </div>
	    
	    <div class="clear"></div>
	  </div>
	  </a>
  <% end %>

</div>