<% provide(:title, 'Sign up') %>
<h1>註冊</h1>
<div id="fb-root"></div>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      

      <%= f.label :name, "姓名" %>
      <%= f.text_field :name %>

      <%= f.label :email, "電子信箱(帳號名稱)" %>
      <%= f.text_field :email %>

      <%= f.label :sex, "性別" %>
      <%= f.select :sex ,options_for_select([['先生','male'],['女士','female']]) %>

      <%= f.label :country, "所在國家(區域)" %>
      <%= f.select :country ,options_for_select([['請選擇國家區域',nil],['台灣(Taiwan)','台灣(Taiwan)'],['日本(Japan)','日本(Japan)'],['南韓(South Korea)','南韓(South Korea)'],['中國(China)','中國(China)'],['歐洲(Europe)','歐洲(Europe)'],['美洲(America)','美洲(America)'],['大洋洲(Oceania)','大洋洲(Oceania)'],['非洲(Africa)','非洲(Africa)'],['其他(Others)','其他(Others)']]) %>

      <%= f.label :city, "所在城市" %>
      <%= f.text_field :city %>

      <%= f.label :language, "語言" %>
      <%= f.text_field :language %>

      <%= f.label :password, "密碼" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "確認密碼" %>
      <%= f.password_field :password_confirmation %>
      <%= f.label :join_fb, "加入Local Friends粉絲團，讓大家幫你一起找地陪&旅行家" %>
      <div class="fb-like" data-href="https://www.facebook.com/LocalFriendsTW" data-send="false" data-width="450" data-show-faces="true"></div>
      <hr>
      
      <%= f.submit "建立帳號", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>