<% provide(:title, @user.name) %>

<div class="row">
  <div class="">
    <div class="profile_photo">
      <img src=<%if @user.profile_photo==""%><%= "http://goo.gl/gdibQ" %><%else %> <%= @user.profile_photo || "http://goo.gl/gdibQ" %><%end%> alt=<%= @user.name %>>
    </div>
    <% if current_user?(@user) %>
    <div id="edit_profile">
        <%= link_to "修改個人資料", edit_user_path(current_user) %>
    </div>
    <% end %>
    <div class="basic_info">
      <h1>
        <%= @user.name %>
      </h1>
      <span>
        <%= @user.sex %>
      <span>
      
      <p>
        <b>所在國家(區域):</b> <%= @user.area %>
      </p>
      <p><b>所在城市:</b> <%= @user.city %></p>
      <p><b>E-mail:</b> <%= @user.email %></p>

    </div>
    <div class="clear"></div>
    <% if current_user?(@user) %>
      <%= link_to "修改旅行資料", user_path(current_user), :remote => true,  :style => 'float: right;',  "data-type" => "script" %>
    <% end %>
    <div id="information" class="information">
      <%= render 'users/introduce' %>
      <%= render 'users/trip_plan' %>
      <hr>
      <div id="fb_share">
        <h4>你的朋友或許會喜歡這趟旅程？</h4>
      </br>
        <h3>按個<div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="true"></div></h3>
      </br>
        <h4>與他們一起分享這位在地好地陪吧！</h4>
        
      </div>
    </div>
  </div>
</div>
