<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Local Friends", root_path, id: "logo" %>
      <h1 class="subtitle">-世界各個角落都有華人地陪</h1>
      <nav>
        <ul class="nav pull-right ulstyle">          
          <li><%= link_to "Q&A",    help_path %></li>
          <li><%= link_to "問題回報",    "http://goo.gl/OF3Gw", :target => "_blank" %></li>
          <% if signed_in? %>
            
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.name %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "個人檔案", current_user %></li>
                <li><%= link_to "帳號設定", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "登出", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "登入", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>